* {
    box-sizing: border-box;
}
// Base styles
html {
    font-family: $bodyFontFamily;
    font-size: 62.5%; // root fs: 10px
    background: rgb(6,24,50);
    background: linear-gradient(180deg, rgba(6,24,50,1) 0%, rgba(18,35,72,1) 27%, rgba(67,53,84,1) 56%, rgba(255,85,79,1) 96%, rgba(255,145,83,1) 100%);
    color: $white;
    
    body {
        font-size: $bodyFontSize;
        line-height: $bodyLineHeight;
        letter-spacing: 0.5px;
        font-weight: 200;
        overflow: auto;
        overflow-x: hidden
    
        header {
            position: relative;
            z-index: 10
        }

        section {
            padding: $sectionPadding 0;
            position: relative;
    
            @include media('>desktop') {
                padding: $sectionPaddingD 0;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        a {
            &.dark {
                @include transition(all, 500ms, ease-in-out);
            }
            &.light {
                @include transition(all, 500ms, ease-in-out);
            }
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0,0,0,0);
            border: 0;
        }

        .container {
            max-width: $bodyMaxWidth;
            margin: 0 auto;
            padding: 0 $containerPadding;

        }

        
    }
}

h1 {
    text-align: center;

    span {
        display: block;
        font-size: 3.7rem;
    }
}

//Link and Button styles
a, button {
    padding: 0 4px;
    font-weight: 200;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: 0px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

    &.dark {
        color: $navy;

        &::before {
            background-color: $yellow;
        }
    }
    &.light {
        color: $white;

        &::before {
            background: rgb(255,145,83);
            background: linear-gradient(180deg, rgba(255,145,83,1) 0%, rgba(255,85,79,1) 100%);
        }
    }
}


//Main navigation
#menuToggle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }
        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }
    input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: $white;
    }
    input:checked ~ span:nth-last-child(3){
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    input:checked ~ ul{
        transform: none;
    }
}
#menu {
    // position: absolute;
    position: fixed;
    width: 75%;
    height: 100%;
    box-shadow: 0 0 10px $darkNavy;
    margin: -25px 0 0 -25px;
    padding: 50px;
    padding-top: 125px;
    background-color: #523853;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    flex-direction : column;

    @include media('>tablet') {
        width: 50%;
    }
    @include media('>desktop') {
        width: 25%;
                            
    }

    li {
        padding: 10px 0;
        transition-delay: 2s;
        font-size: 2.75rem;

        @include media('>tablet') {
            font-size: 3.5rem;
            
        }
    }
}

//Sections
#intro {
    padding-top: 0;

    .container {
        #moon {
            display: block;
            width: 102px;
            height: 102px;
            margin-bottom: 30px;
            position: absolute;
            top: 15%;
            // background-color: rgba(252, 251, 247, 0.3);
            // border-radius: 50%;

            &::before {
                content: '';
                position: absolute;
                top: 1px;
                left: 6px;
                width: 100%;
                height: 100%;
                background-color: $white;
                opacity: 0.25;
                border-radius: 50%;
                transition: all 0.5s ease-in-out;
                filter: blur(30px);
                z-index: -1;
            }
            &:hover {
                &::before {
                    opacity: 0.5;
                    filter: blur(40px);
                }
            }
            

            @include media('>tablet') {
                width: 150px;
                height: 150px;
            }

            svg {
                width: 100%;
                height: 100%;
                fill: $yellow;
            }
        }
        #star1, #star2, #star3 {
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            border-radius: 50%;
            // opacity: 0.5;
            transition: all 0.5s ease-in-out;

            svg {
                width: 100%;
                height: 100%;
                fill: $yellow;
            }
            &::before {
                content: '';
                position: absolute;
                top: 10px;
                left: 0px;
                width: 12px;
                height: 12px;
                background-color: $white;
                // opacity: 0.25;
                border-radius: 50%;
                transition: all 0.5s ease-in-out;
                filter: blur(5px);
            }
        }
        #star4, #star5, #star6 {
            display: block;
            width: 5px;
            height: 5px;
            position: absolute;
            border-radius: 50%;
            // opacity: 0.5;
            transition: all 0.5s ease-in-out;

            svg {
                width: 100%;
                height: 100%;
                fill: $yellow;
            }
            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 0px;
                width: 6px;
                height: 6px;
                background-color: $white;
                // opacity: 0.25;
                border-radius: 50%;
                transition: all 0.5s ease-in-out;
                filter: blur(3px);
            }
        }
        #star1 {
            top: 10%;
            left: 10%;
        }
        #star2 {
            top: 30%;
            right: 20%;
        }
        #star3 {
            top: 50%;
            left: 15%;
        }
        #star4 {
            top: 15%;
            right: 30%;
        }
        #star5 {
            top: 90%;
            left: 20%;
        }
        #star6 {
            top: 55%;
            right: 30%;
        }
        #title {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            span {
                border-top: 2px solid $pink;
                padding-top: 20px;
            }
        }
        #introText {
            display: flex;
            flex-direction: column;

            @include media('>desktop') {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                h2 {
                    width: 25%;
                }
                P {
                    margin-left: 30px;
                }
            }

            h2 {
                margin-right: 15px;
                margin-bottom: 20px;
            }
            p {
                border-left: 2px solid $orange;
                padding-left: 30px;
                
            }

        }
    }
}
#skills {
    .container {
        h2 {
            text-align: center;
            margin-bottom: 50px;
            width: 100%;
        }
        h3 {
            margin-bottom: 5px;
        }
        & > div {
            margin-bottom: 60px;
        }
        .languages {
            ul {
                flex-direction: column;

                li {
                    margin-bottom: 15px;

                    p {
                        margin-bottom: 5px;
                    }

                    .bar {
                        display: block;
                        width: 100%;
                        height: 10px;
                        border: rgba(252, 251, 247, 0.2) 2px solid;
                        background-color: transparent;
                        border-radius: 5px;

                        &::after {
                            content: '';
                            display: block;
                            height: 100%;
                            width: 0;
                            background: $orange;
                            background: $gradient-op;
                            border-radius: 5px;
                        }
                    }
                    //HTML
                    &:first-child .bar::after,
                    //CSS
                    &:nth-child(2) .bar::after,
                    //LESSandSASS
                    &:nth-child(3) .bar::after {
                        width: 100%;
                    }
                    //JavaScript
                    &:nth-child(4) .bar::after {
                        width: 75%;
                    }
                    //PHP
                    &:nth-child(5) .bar::after {
                        width: 50%;
                    }
                }
            }
        }
        .frameworks {
            ul {
                li {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 30px;

                    @include media('>desktop') {
                        width: 25%;
                        padding-left: 30px;
                        
                        &:first-child {
                            padding-left: 0;
                        }
                    }
    
                    .svg-container {
                        display: block;
                        width: 50px;
                        height: 50px;
                        margin-bottom: 15px;

                        @include media('>tablet') {
                            width: 75px;
                            height: 75px;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                            fill: $yellow;
                        }
                    }
                }
            }
        }
        @include media('>tablet') {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .languages, .frameworks {
                width: calc(50% - 30px);
                margin-bottom: 100px;
            }
        }
        .software {
            background-color: rgba(6, 24, 50, 0.25);
            border-radius: 15px;
            padding: 15px;
            margin: -15px;
            h3 {
                width: 100%;
            }
            @include media('>tablet') {
                // background-color: transparent;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                
                div {
                    padding-right: 45px;
                    width: 33.33333333%;
                }
            }
            @include media('>desktop') {
                padding: 30px;
                margin: -30px;
            }
            h4 {
                font-weight: 700;
                margin-bottom: 5px;

            }
            ul {
                flex-direction: column;
                border-left: 2px solid $orange;
                padding-left: 30px;
                margin-bottom: 45px;
            }
        }
    }
}
#work {
    .container {
        h2 {
            text-align: center;
            margin-bottom: 50px;
        }

        #projects {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;

            li {
                width: 100%;

                &:first-child a {
                    background-image: url('../images/obsidianDetail_1.png');
                }
                &:nth-child(2) a {
                    background-image: url('../images/upennDetail_2.png');
                }
                &:nth-child(3) a {
                    background-image: url('../images/congareeDetail_2.png');
                }

                @include media('>tablet') {
                    width: calc(50% - 30px);
                }
            }
            

            @include media('>tablet') {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between; 

                li {
                    width: calc(50% - 15px);    
                }
            }
            @include media('>desktop') {
                li {
                    width: calc(33.33333333% - 15px);
                }
            }  

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 275px;
                margin-bottom: 30px;
                padding: 30px;
                position: relative;
                border-radius: 15px;
                color: $white;
                background-size: cover;
                background-position: center;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(6, 24, 50, 0.75);
                    border-radius: 15px;
                    transition: all 0.5s ease-in-out;
                    z-index: 0;
                }
                
                h3 {
                    font-weight: 300;
                    line-height: 1;
                    margin-top: 90px;
                    margin-bottom: 20px;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                    z-index: 1;
                }
                div {
                    opacity: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 0;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                    z-index: 1;
                    padding-top: 15px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: $yellow;
                        top: 0;
                        left: 50%;
                        right: 50%;
                        transition: all 0.5s ease-in-out;
                    }

                    p {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                            color: $orange;
                        }
                    }

                    span {
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 10px;

                        svg {
                            width: 100%;
                            height: 100%;
                            fill: $orange;
                        }
                    }
                }
                &:hover {
                    &::after {
                        background-color: rgba(6, 24, 50, 0.9);
                    }

                    h3 {
                        margin-top: 0;
                    }

                    div {
                        margin-top: 15px;
                        opacity:1;

                        &::before {
                            width: 100%;
                            left: 0;
                            right: 0;
                        }
                    }   
                }
                &::before {
                    display: none;
                }
            }
        }
    }   
}
#contact {
    padding-bottom: 300px;
    .container {
        h2 {
            color: $darkNavy;
            width: 100%;
            text-align: center;
            margin-bottom: 30px;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            li {
                width: 33.33333%;

                a {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    color: $darkNavy;
                    font-size: 2.2rem;
                    font-weight: 500;
                    text-align: center;
                    padding: 10px 0;
                }

                .svg-container {
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin-bottom: 15px;

                    svg {
                        width: 100%;
                        height: 100%;
                        fill: $white;
                    }
                }
                
            }
        }
        
        @include media('>tablet') {
            flex-direction: row-reverse;
            flex-wrap: nowrap;

            h2, ul {
                width: calc(50% - 15px);
            }
            h2 {
                margin-left: 60px;
                text-align: left;
            }
            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                padding: 15px 60px 15px 0;
                border-right: 2px solid $yellow;

                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    margin-bottom: 15px;
                    width: 100%;

                    a {
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-end;
                        align-items: center;
                        margin-left: 10px;
                        color: $darkNavy;
                        font-size: 2.4rem;
                        font-weight: 500;
                    }

                    .svg-container {
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin-left: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        @include media('>desktop') {
            padding-bottom: 400px;
        }
    }
    .skyline {
        position: absolute;
        bottom: -10px;
        width: 100%;
        max-height: 100px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        .svg-container {
            display: block;

            svg {
                width: 100%;
                height: 100%;
                fill: $darkNavy;
            }
        }
        #trees-1 {
            width: 20%;
            display: none;
            svg {
                fill: $purple;
            }

            @include media('>tablet') {
                display: block;
            }
        }
        #big-tree-1 {
            width: 30%;
            z-index: 2;
        }
        #house-1 {
            width: 25%;
            margin-left: -5%;
            z-index: 1;
            svg {
                fill: $navy;
            
            }
        }
        #round-tree-1 {
            width: 30%;
            svg {
                fill: $darkNavy;
            }
        }
        #sm-plant-1 {
            width: 3%;

            svg {
                fill: $navy;
            }
        }
        #sm-plant-2 {
            width: 5%;

            svg {
                fill: $navy;
            }
        }

    }
}

footer {
    background-color: $darkNavy;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 2;
}