@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Satisfy&display=swap');

// Colors
$darkNavy: #061832;
$navy: #122348;
$purple: #433554;
$pink: #ff554f;
$orange: #ff9153;
$yellow: #ffdf71;
$white: #fcfbf7;

// Typography
$bodyFontSize: 1.8rem;
$bodyLineHeight: 1.5;
$bodyFontFamily: 'DM Sans', sans-serif;
$displayFontFamily: 'Satisfy', cursive;

// Container
$bodyMaxWidth: 1200px;
$containerPadding: 30px;

//Section
$sectionPadding: 60px;
$sectionPaddingD: 100px;