/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Satisfy&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h1 {
  font-family: "Satisfy", cursive;
  font-size: 8rem;
}
@media (min-width: 1025px) {
  .h1 {
    font-size: 12rem;
  }
}

.h2 {
  font-size: 4rem;
  font-family: "Satisfy", cursive;
}
@media (min-width: 1025px) {
  .h2 {
    font-size: 8rem;
  }
}

.h3 {
  font-size: 3.2rem;
  font-family: "Satisfy", cursive;
}
@media (min-width: 1025px) {
  .h3 {
    font-size: 5.4rem;
  }
}

.h4 {
  font-size: 2rem;
}
@media (min-width: 1025px) {
  .h4 {
    font-size: 3rem;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  font-size: 62.5%;
  background: rgb(6, 24, 50);
  background: linear-gradient(180deg, rgb(6, 24, 50) 0%, rgb(18, 35, 72) 27%, rgb(67, 53, 84) 56%, rgb(255, 85, 79) 96%, rgb(255, 145, 83) 100%);
  color: #fcfbf7;
}
html body {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 200;
  overflow: auto;
  overflow-x: hidden header;
  overflow-x-position: relative;
  overflow-x-z-index: 10;
}
html body section {
  padding: 100px 0;
  position: relative;
}
@media (min-width: 1025px) {
  html body section {
    padding: 150px 0;
  }
}
html body ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
html body a.dark {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body a.light {
  transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -webkit-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
}
html body .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
html body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  text-align: center;
}
h1 span {
  display: block;
  font-size: 3.7rem;
}

a, button {
  padding: 0 4px;
  font-weight: 200;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: 0px;
  position: relative;
}
a::before, button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
a:hover::before, button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
a.dark, button.dark {
  color: #122348;
}
a.dark::before, button.dark::before {
  background-color: #ffdf71;
}
a.light, button.light {
  color: #fcfbf7;
}
a.light::before, button.light::before {
  background: rgb(255, 145, 83);
  background: linear-gradient(180deg, rgb(255, 145, 83) 0%, rgb(255, 85, 79) 100%);
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #fcfbf7;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: fixed;
  width: 75%;
  height: 100%;
  box-shadow: 0 0 10px #061832;
  margin: -25px 0 0 -25px;
  padding: 50px;
  padding-top: 125px;
  background-color: #523853;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  flex-direction: column;
}
@media (min-width: 769px) {
  #menu {
    width: 50%;
  }
}
@media (min-width: 1025px) {
  #menu {
    width: 25%;
  }
}
#menu li {
  padding: 10px 0;
  transition-delay: 2s;
  font-size: 2.75rem;
}
@media (min-width: 769px) {
  #menu li {
    font-size: 3.5rem;
  }
}

#intro {
  padding-top: 0;
}
#intro .container #moon {
  display: block;
  width: 102px;
  height: 102px;
  margin-bottom: 30px;
  position: absolute;
  top: 15%;
}
#intro .container #moon::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 100%;
  height: 100%;
  background-color: #fcfbf7;
  opacity: 0.25;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: blur(30px);
  z-index: -1;
}
#intro .container #moon:hover::before {
  opacity: 0.5;
  filter: blur(40px);
}
@media (min-width: 769px) {
  #intro .container #moon {
    width: 150px;
    height: 150px;
  }
}
#intro .container #moon svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
#intro .container #star1, #intro .container #star2, #intro .container #star3 {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#intro .container #star1 svg, #intro .container #star2 svg, #intro .container #star3 svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
#intro .container #star1::before, #intro .container #star2::before, #intro .container #star3::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #fcfbf7;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: blur(5px);
}
#intro .container #star4, #intro .container #star5, #intro .container #star6 {
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#intro .container #star4 svg, #intro .container #star5 svg, #intro .container #star6 svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
#intro .container #star4::before, #intro .container #star5::before, #intro .container #star6::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #fcfbf7;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: blur(3px);
}
#intro .container #star1 {
  top: 10%;
  left: 10%;
}
#intro .container #star2 {
  top: 30%;
  right: 20%;
}
#intro .container #star3 {
  top: 50%;
  left: 15%;
}
#intro .container #star4 {
  top: 15%;
  right: 50%;
}
#intro .container #star5 {
  top: 90%;
  left: 20%;
}
#intro .container #star6 {
  top: 55%;
  right: 30%;
}
#intro .container #title {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
#intro .container #title span {
  border-top: 2px solid #ff554f;
  padding-top: 20px;
}
#intro .container #introText {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  #intro .container #introText {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #intro .container #introText h2 {
    width: 25%;
  }
  #intro .container #introText P {
    margin-left: 30px;
  }
}
#intro .container #introText h2 {
  margin-right: 15px;
  margin-bottom: 20px;
}
#intro .container #introText p {
  border-left: 2px solid #ff9153;
  padding-left: 30px;
}

#skills .container #star7, #skills .container #star8, #skills .container #star9 {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#skills .container #star7 svg, #skills .container #star8 svg, #skills .container #star9 svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
#skills .container #star7::before, #skills .container #star8::before, #skills .container #star9::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #fcfbf7;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: blur(5px);
}
#skills .container #star10, #skills .container #star11, #skills .container #star12 {
  display: block;
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
#skills .container #star10 svg, #skills .container #star11 svg, #skills .container #star12 svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
#skills .container #star10::before, #skills .container #star11::before, #skills .container #star12::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #fcfbf7;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  filter: blur(3px);
}
#skills .container #star7 {
  top: 10%;
  left: 30%;
}
#skills .container #star8 {
  top: 40%;
  right: 10%;
}
#skills .container #star9 {
  top: 70%;
  left: 15%;
}
#skills .container #star10 {
  top: 20%;
  right: 30%;
  opacity: 0.75;
}
#skills .container #star11 {
  bottom: 0;
  left: 20%;
  opacity: 0.3;
}
#skills .container #star12 {
  bottom: 20%;
  right: 15%;
  opacity: 0.5;
}
#skills .container h2 {
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
#skills .container h3 {
  margin-bottom: 5px;
}
#skills .container > div {
  margin-bottom: 60px;
}
#skills .container .languages ul {
  flex-direction: column;
}
#skills .container .languages ul li {
  margin-bottom: 15px;
}
#skills .container .languages ul li p {
  margin-bottom: 5px;
}
#skills .container .languages ul li .bar {
  display: block;
  width: 100%;
  height: 10px;
  border: rgba(252, 251, 247, 0.2) 2px solid;
  background-color: transparent;
  border-radius: 5px;
}
#skills .container .languages ul li .bar::after {
  content: "";
  display: block;
  height: 100%;
  width: 0;
  background: #ff9153;
  background: linear-gradient(90deg, #ff9153 0%, #ff554f 100%);
  border-radius: 5px;
}
#skills .container .languages ul li:first-child .bar::after, #skills .container .languages ul li:nth-child(2) .bar::after, #skills .container .languages ul li:nth-child(3) .bar::after {
  width: 100%;
}
#skills .container .languages ul li:nth-child(4) .bar::after {
  width: 75%;
}
#skills .container .languages ul li:nth-child(5) .bar::after {
  width: 50%;
}
#skills .container .frameworks ul li {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
@media (min-width: 1025px) {
  #skills .container .frameworks ul li {
    width: 25%;
    padding-left: 30px;
  }
  #skills .container .frameworks ul li:first-child {
    padding-left: 0;
  }
}
#skills .container .frameworks ul li .svg-container {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}
@media (min-width: 769px) {
  #skills .container .frameworks ul li .svg-container {
    width: 75px;
    height: 75px;
  }
}
#skills .container .frameworks ul li .svg-container svg {
  width: 100%;
  height: 100%;
  fill: #ffdf71;
}
@media (min-width: 769px) {
  #skills .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #skills .container .languages, #skills .container .frameworks {
    width: calc(50% - 30px);
    margin-bottom: 100px;
  }
}
#skills .container .software {
  background-color: rgba(6, 24, 50, 0.25);
  border-radius: 15px;
  padding: 15px;
  margin: -15px;
}
#skills .container .software h3 {
  width: 100%;
}
@media (min-width: 769px) {
  #skills .container .software {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  #skills .container .software div {
    padding-right: 45px;
    width: 33.33333333%;
  }
}
@media (min-width: 1025px) {
  #skills .container .software {
    padding: 30px;
    margin: -30px;
  }
}
#skills .container .software h4 {
  font-weight: 700;
  margin-bottom: 5px;
}
#skills .container .software ul {
  flex-direction: column;
  border-left: 2px solid #ff9153;
  padding-left: 30px;
  margin-bottom: 45px;
}

#work .container h2 {
  text-align: center;
  margin-bottom: 50px;
}
#work .container #projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
#work .container #projects li {
  width: 100%;
}
#work .container #projects li:first-child a {
  background-image: url("../images/obsidianDetail_1.png");
}
#work .container #projects li:nth-child(2) a {
  background-image: url("../images/upennDetail_2.png");
}
#work .container #projects li:nth-child(3) a {
  background-image: url("../images/congareeDetail_2.png");
}
@media (min-width: 769px) {
  #work .container #projects li {
    width: calc(50% - 30px);
  }
}
@media (min-width: 769px) {
  #work .container #projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #work .container #projects li {
    width: calc(50% - 15px);
  }
}
@media (min-width: 1025px) {
  #work .container #projects li {
    width: calc(33.33333333% - 15px);
  }
}
#work .container #projects a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 275px;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  border-radius: 15px;
  color: #fcfbf7;
  background-size: cover;
  background-position: center;
}
#work .container #projects a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 24, 50, 0.75);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
#work .container #projects a h3 {
  font-weight: 300;
  line-height: 1;
  margin-top: 90px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}
#work .container #projects a div {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
  z-index: 1;
  padding-top: 15px;
}
#work .container #projects a div::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffdf71;
  top: 0;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease-in-out;
}
#work .container #projects a div p {
  margin-bottom: 10px;
}
#work .container #projects a div p:last-child {
  margin-bottom: 0;
  color: #ff9153;
}
#work .container #projects a div span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
#work .container #projects a div span svg {
  width: 100%;
  height: 100%;
  fill: #ff9153;
}
#work .container #projects a:hover::after {
  background-color: rgba(6, 24, 50, 0.9);
}
#work .container #projects a:hover h3 {
  margin-top: 0;
}
#work .container #projects a:hover div {
  margin-top: 15px;
  opacity: 1;
}
#work .container #projects a:hover div::before {
  width: 100%;
  left: 0;
  right: 0;
}
#work .container #projects a::before {
  display: none;
}

#contact {
  padding-bottom: 300px;
}
#contact .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#contact .container h2 {
  color: #061832;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
#contact .container ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contact .container ul li {
  width: 33.33333%;
}
#contact .container ul li a {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: #061832;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}
#contact .container ul li .svg-container {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}
#contact .container ul li .svg-container svg {
  width: 100%;
  height: 100%;
  fill: #fcfbf7;
}
@media (min-width: 769px) {
  #contact .container {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  #contact .container h2, #contact .container ul {
    width: calc(50% - 15px);
  }
  #contact .container h2 {
    margin-left: 60px;
    text-align: left;
  }
  #contact .container ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 60px 15px 0;
    border-right: 2px solid #ffdf71;
  }
  #contact .container ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 15px;
    width: 100%;
  }
  #contact .container ul li a {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    color: #061832;
    font-size: 2.4rem;
    font-weight: 500;
  }
  #contact .container ul li .svg-container {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  #contact .container {
    padding-bottom: 400px;
  }
}
#contact .skyline {
  position: absolute;
  bottom: -10px;
  width: 100%;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
#contact .skyline .svg-container {
  display: block;
}
#contact .skyline .svg-container svg {
  width: 100%;
  height: 100%;
  fill: #061832;
}
#contact .skyline #trees-1 {
  width: 20%;
  display: none;
}
#contact .skyline #trees-1 svg {
  fill: #433554;
}
@media (min-width: 769px) {
  #contact .skyline #trees-1 {
    display: block;
  }
}
#contact .skyline #big-tree-1 {
  width: 30%;
  z-index: 2;
}
#contact .skyline #house-1 {
  width: 25%;
  margin-left: -5%;
  z-index: 1;
}
#contact .skyline #house-1 svg {
  fill: #122348;
}
#contact .skyline #round-tree-1 {
  width: 30%;
}
#contact .skyline #round-tree-1 svg {
  fill: #061832;
}
#contact .skyline #sm-plant-1 {
  width: 3%;
}
#contact .skyline #sm-plant-1 svg {
  fill: #122348;
}
#contact .skyline #sm-plant-2 {
  width: 5%;
}
#contact .skyline #sm-plant-2 svg {
  fill: #122348;
}

footer {
  background-color: #061832;
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 2;
}

/*# sourceMappingURL=main.css.map */
